name: CI

on:
  push:
    branches: ['main']
  pull_request:

jobs:
  test:
    name: Test crate

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        name: Checkout repository
      - uses: dtolnay/rust-toolchain@stable
        name: Set up toolchain
      - uses: Swatinem/rust-cache@v2
        name: Cache toolchain and dependencies
      - run: cargo test
        name: Run tests

  lint:
    name: Check code style

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        name: Checkout repository
      - uses: dtolnay/rust-toolchain@master
        name: Set up toolchain
        with:
          toolchain: stable
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
        name: Cache toolchain and dependencies
      - run: cargo fmt --all -- --check
        name: Check code with cargo fmt
      - run: cargo clippy --all-targets -- -D warnings
        name: Check code with cargo clippy
